.side{
    height: 100vh;
    width: 100vw;
}

.overgangsstonad {
    display: grid;
    margin-bottom: 4rem;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "side hoved";
    grid-gap: 24px;
    max-width: 846px ;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    max-height: 68px;
    min-height: 68px;
    background-color: @navLillaLighten60;
    text-align: center;
    border-bottom: 4px solid #826ba1;   
    line-height: 68px;
}

.banner h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    display: inline-block;
    vertical-align: middle;
    color: @navMorkGra
}

.breadcrumb{
    max-width: 846px;
    margin: 18px auto 16px auto;
}

.sideinfo {
    position: sticky;
    top: 0;
    grid-area: side;
    display: flex;
    flex-direction: column;
    max-width: 194px;
}

.sideinfo div{
    margin-bottom: 24px;
}

.sticky{
    position: sticky;
    top: 0;
}

.hovedinfo{
    grid-area: hoved;
    display: grid;
    grid-gap: 24px;
    max-width: 628px;
    grid-auto-rows: minmax(min-content, max-content);
}
.sideAlertStripe{
    max-width: 497px;
}