.informasjonspanel {
    padding: 5rem !important;
    width: 80%;
    margin: 5rem auto 5rem auto;
}

.informasjonspanel-ikon {
    border-radius: 50%;
    background-color: #D8D8D8;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 2rem;
}