.informasjonspanel {
    padding: 64px !important;
    margin: auto;
}

.informasjonspanel-ikon {
    border-radius: 50%;
    background-color: #D8D8D8;
    width: 72px;
    height: 72px;
    margin: auto;
    margin-bottom: 2rem;
}

@media screen and (max-width: 850px) {
    .informasjonspanel{
        padding: 2rem !important;
        width: 80vw !important;
        margin: auto;
    }
}