.tilpasningspanel{
    margin-bottom: 24px;
} 

.tilpasningspanel p{
    font-size: 16px;
    line-height: 22px;
}

.tilpasningsknapp {
    margin-top: 22px;
    width: 100%;
    text-transform: none !important;
    letter-spacing: normal !important;
    white-space: normal !important;
}

.filterboks{
    margin-top: 40px;
}

.etikett-i-tilpasningsboks-wrapper {
    margin-top: 10px;
}