  
.tilpasningspanel p{
    font-size: 16px;
    line-height: 22px;
}

.tilpasningsknapp {
    margin-top: 22px;
    width: 100%;
    text-transform: none !important;
    letter-spacing: normal !important;
}