@import "~nav-frontend-knapper-style";
@import "~nav-frontend-paneler-style";

body {
    background-color: #E5E5E5;
    margin: 0;
    font-family: 'Source Sans Pro';
    max-width: 100%;
    color: @navMorkGra;
}

.center-text {
    text-align: center;
}

.panel{
    border-radius: 0px;
}

a {
    color: @navBla; 
    text-decoration-line: underline;
    line-height: 26px;
}

a :hover{
    text-decoration: none;
}

:active :focus{
    color: #ffffff;
    background-color: @fokusFarge;
    text-decoration: none;
}

h3{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;  
}

h6{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px; 
}