@import "~nav-frontend-knapper-style";
@import "~nav-frontend-paneler-style";

body {
    background-color: #E5E5E5;
    margin: 0;
    font-family: 'Source Sans Pro';
    max-width: 100%;
    color: @navMorkGra;
}

.center-text {
    text-align: center;
}

.panel{
    border-radius: 0px;
}