/* autoprefixer grid: autoplace */

/* ------- FELLES STØRRELSER --------- */

@desktop: ~"all and (min-width: 959px)";
@tablet: ~"all and (max-width: 959px)";
@mobile: ~"all and (max-width: 420px)";

@panel-bredde: 792px;
@panel-innhold-bredde: 588px;

/* ------- FELLES FARGER --------- */
@navMorkLilla: #826ba1;

/* ------- IMPORTS --------- */
@import "~nav-frontend-knapper-style";
@import "~nav-frontend-paneler-style";
@import "~nav-frontend-typografi-style";

@import "./sider/overgangsstonad/Overgangsstonad.less";
@import "./sider/barnetilsynsstonad/Barnetilssynstonad.less";
@import "./sider/skolepengerstønad/Skolepengerstonad.less";
@import "./sider/tilleggsstønad/Tilleggsstonad.less";
@import "./components/Tilpasningsboks.less";
@import "./app.less";
@import "./components/Informasjonspanel.less";
@import "./components/Temameny.less";